/* style.css */
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 300px;
}

h1 {
    margin-bottom: 20px;
    color: #333;
}

input {
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 70%;
}

button {
    padding: 10px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px 0;
}

button:hover {
    background-color: #218838;
}

#ranking {
    margin-top: 20px;
}

.rank-item {
    padding: 5px;
    background-color: #f9f9f9;
    border-radius: 5px;
    margin-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.rank-item:nth-child(1) {
    background-color: gold;
}

.rank-item:nth-child(2) {
    background-color: silver;
}

.rank-item:nth-child(3) {
    background-color: #cd7f32; /* Bronze */
}

.remove-student {
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 8px;
}

.remove-student:hover {
    background-color: #c82333;
}
