@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Kanit:wght@600&family=Nunito:ital,wght@1,900&family=Poppins:wght@400;500&family=Rubik+Maps&family=Vina+Sans&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    transition: background .5s ease;
}
.box{
    background-color: #333;
    position: relative;
    width: 25vw;
    text-align: center;
    border-radius: 15px;
    padding: 15px;
}
.box h2{
    font-size: 42px;
}

.color-code{
    color: white;
    font-size: 45px;

    
}
.copy-button{

    width: 50px;
    height: 50px;
    background-color: crimson;
    position: absolute;
    border-radius: 50%;
    right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 11%;
}



 .copy-button i{
    font-size: 25px;
    color: white;
    
}
.btn{
    width: 22vw;
    font-size: 25px;
    font-weight: 700;
    padding: 10px;
    border: none;
    color: white;
    background-color: crimson;
    margin-top: 40px;
    border-radius: 15px;
}

@media (max-width: 600px) {
    .box {
      width: 90%;
    }

    .color-code {
      font-size: 18px;
    }

    .btn {
      font-size: 32px;
      width: 100%;
    }
  }